/* .row{
    color: teal;
    border-radius: 20px;
} */

#Backspace{
    width: 195px;
}

#Tab{
    width: 255px;
}

#CapsLk{
    width: 177px;
}

#Enter{
    width: 192px;
}
#dede{
    width: 78px;
}
/* #nEnter{
    height:120px;
} */

#Shift{
    width: 185px;
}

#Space{
    width: 550px;
}
/* #plus{
    height: 120px;
} */
.cont-container{
    display: flex;
    justify-content: center;
}
.border {
    width: fit-content;
    border-color:black;
    border-style: solid;
    box-sizing: border-box;
    background-color: red;
}
button{
    width: 55px;
    height: 55px;
    border-radius: 12px;
    color: red;
    background-color: cyan;
}
/* .row1{
    padding-left: 12px;
} */